<h1 class="animated fadeIn fast">Sobre comic App</h1>
<hr>
<p class="animated fadeIn">
  Lorem ipsum dolor sit amet consectetur adipiscing elit in ridiculus vulputate pharetra hac sed, ut tortor mi leo id suscipit sodales magnis euismod magna maecenas. Nisi bibendum elementum mattis praesent penatibus maecenas libero, ultricies non id porta nullam inceptos congue, tristique vulputate suscipit accumsan ridiculus duis. Odio diam dapibus volutpat nunc vulputate vestibulum ultrices, sociosqu eget cum nulla risus turpis sapien facilisis, porta iaculis montes nullam tellus rutrum.

  Praesent pharetra nulla aptent mi faucibus donec proin potenti nascetur luctus mauris litora lacinia erat class, iaculis penatibus etiam molestie bibendum dignissim massa per congue consequat nam interdum enim ultrices. Fusce feugiat vitae in blandit curabitur condimentum accumsan phasellus, varius potenti risus cras proin class maecenas, tempor ridiculus litora hac sollicitudin mus odio. Aenean taciti urna odio porta montes faucibus proin vitae at, potenti volutpat cubilia mattis natoque tempor viverra nullam non, inceptos turpis arcu vulputate tristique tellus libero habitant.
</p>
