<h1>Buscando: <small>{{ termino }}</small></h1>
<hr>
<div *ngIf="heroes.length <= 0" class="row animated fadeIn fast">
  <div class="col-md-12">
    <div class="alert alert-info">
      No existen resultados para el termino {{ termino }}
    </div>
  </div>
</div>

<div class="card-columns">
  <app-heroe-tarjeta *ngFor="let h of heroes; let i= index" [heroe]="h" [index]="h.idx"></app-heroe-tarjeta>
<!--  <div *ngFor="let heroe of heroes; let i= index" class="card">-->
<!--    <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">-->
<!--    <div class="card-body">-->
<!--      <h5 class="card-title">{{ heroe.nombre }}</h5>-->
<!--      <p class="card-text">{{ heroe.bio }}</p>-->
<!--      <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>-->

<!--&lt;!&ndash;      <button (click)="verHeroe(i)" class="btn btn-outline-primary btn-block">Ver mas...</button>&ndash;&gt;-->
<!--      &lt;!&ndash;      <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary btn-block">Ver mas...</a>&ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
</div>
